.temp-section {
  min-height: 0;
  padding: 0;
  background: var(--color-white);
  text-align: center;
}

.temp-section-small {
  min-height: 100dvh;
  padding: var(--gap-xl) 0;
  background: var(--color-white);
  text-align: center;
}
